<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Huffington Post Political News Scraper</title>
    {{!-- FONT --}}
    <link href="https://fonts.googleapis.com/css?family=Lato|Playfair+Display:400,700&display=swap" rel="stylesheet">
    <!-- Bootstrap HTML/CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!--My JS-->
    <script type="text/javascript" src="/javascripts/notes.js"></script>
    <!-- Bootstrap Script-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- styling css -->
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>
    <div class="head container-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="pos-f-t col-1">
                <div class="collapse" id="navbarToggleExternalContent">
                    <div class=" p-4">
                        <div class="col-4">
                            {{#if home}}
                            <a href="/" class="btn home-btn disabled" id="disabled-btn">Home</a>
                            <a href="/articles/saved" class="btn saved-btn btn-light">Saved Articles</a>
                            {{else}}
                            <a href="/" class="btn home-btn">Home</a>
                            <a href="/articles/saved" class="btn saved-btn disabled" id="disabled-btn">Saved
                                Articles</a>
                            {{/if}}
                            <button class="btn scrape-btn" id="scrapeNews">Refresh News</button>
                        </div>
                    </div>
                </div>
                <nav class="navbar navbar-dark ">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </nav>
            </div>

            <h1 class="websiteTitle col-8">Epicenter <span class="subtitle">For the latest and greatest in political
                    news</span>
            </h1>
            <div class="col-2"></div>
        </div>
    </div>
    <div class="container-fluid">
        {{{ body }}}
    </div>
</body>

</html>