<div class="container-fluid">
    <h3 class="pageTitle">
        {{#if home}}
        {{else}}
        Saved Articles
        {{/if}}
    </h3>
    <div class="row">
        <div class="col-1"></div>

        <div class="col-10">

            {{#if articles.length}}
                    {{#each articles}}
                         {{> articles}}
                     {{/each}}
            {{else}}

            <div class="noarticle">
                No articles
                {{#if home}}
                found. Try hitting "Refresh News" in the menu to see what's new!
                {{else}}
                saved. Head to the home page to find some faves!
                {{/if}}
            </div>
        </div>
        {{/if}}
        <div class="col-1"></div>
    </div>
</div>