:root {
  --blue: #75c4c1;
  --blue-half: #75c4c181;
  --black: #1f282f;
  --grey: #b1b1b1;
  --grey-half: #b1b1b17c;
  --text-font: 'Lato', sans-serif;
  --title-font:'Playfair Display', serif;
  /* 400, 700 */
}

.head {
  margin: 120px auto;
}

.navbar-toggler {
  background-color: var(--grey-half);
}

.navbar-toggler:hover {
  background-color: var(--blue-half)
}

.home-btn, .saved-btn, .scrape-btn {
  font-family: var(--title-font);
  padding: 4px 8px;
  font-size: 15px;
  color: var(--black);
  background: none;
  border:none;
  /* text-transform: uppercase; */
}

.home-btn:hover, .saved-btn:hover, .scrape-btn:hover, .saved-btn:active {
  color: var(--blue);
  background: none;
  border:none;
}

.websiteTitle {
  font-family: var(--title-font);
  font-size: 18px;
  margin: 10px auto;
  padding: 4px 8px;
  color: var(--black);
  text-align: center;
}

.subtitle {
  font-family: var(--text-font);
  font-size: 15px;
  color: var(--grey);
  margin: 10px 5px;
  padding: 4px 8px;
  text-transform: uppercase;
}

#disabled-btn {
  color: var(--black);
}

.pageTitle {
  font-family: var(--text-font);
  text-transform: uppercase;
  color: var(--black);
  text-align: center;
  margin: 50px;
}

.noarticle, .notes-header {
  font-family: var(--text-font);
  text-transform: uppercase;
  color: var(--blue-half);
  text-align: center;
}

/* ----- ARTICLE ALL CSS (IND) ---------- */

.article {
  width: 33%;
  padding: 50px 60px;
}

.articleTitle {
  font-family: var(--title-font);
  font-size: 30px;
  color: var(--black);
  font-weight: 700;
}

.line {
  border-top: 1px solid var(--blue);
  width: 20%;
  margin: 30px 0px;
}

.summary {
  font-family: var(--text-font);
  color: var(--grey);
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 30px;
}

.author{
  font-family: var(--title-font);
  color: var(--black);
  font-size: 14px;
  margin: 30px 0px;
}

.linkToArticle {
  color: var(--blue);
}

.linkToArticle:hover {
  color: var(--black);
  text-decoration: none;
}

.imgsaveadd {
  width: 30px;
}

/* ----- ARTICLE (SINGLE)  ---------- */

.indTitle {
  font-family: var(--title-font);
  font-size: 50px;
  color: var(--black);
  font-weight: 700;
}

.summaryInd {
  font-family: var(--text-font);
  color: var(--grey);
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 30px;
}

.authorInd {
  font-family: var(--title-font);
  color: var(--black);
  font-size: 20px;
  margin: 30px 0px;
}

.fullArticle {
  color: var(--blue);
  font-family: var(--title-font);
  font-size: 20px;
  margin: 30px 0px;
}

.fullArticle:hover {
  color: var(--black);
  text-decoration: none;
}